* {
    /*font-family: 'Amatic SC', sans-serif;
    /*font-family: 'Yomogi', cursive;*/font-family: 'Mali', cursive;
    font-weight: bold;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body{
    background-image:linear-gradient(rgba(255, 255, 255, 0.7), 
        rgba(255, 255, 255, 0.7)), url(../img/wallpaper.jpg);
    background-repeat: no-repeat;
	background-size: cover;
    background-attachment: fixed;
} 

nav, footer {
    background-color: #AA0000;
}

.link-light{
    text-decoration: none;
    color:lightgrey;
    margin: 0 20px;
}

.link-light:hover{
    transition: .5s;
    color: white;
    justify-content: space-around;
}

#logo-img {
    width: 30px;
}

#title-subtitle-container {
    text-align: center;
    padding: 0 20px;
    margin: 0 auto;
}

#logo-title, #logo-subtitle, .nav-link {
    color: white;
}

#logo-title {
    font-size: 50px;
    font-weight: bold;
}

#logo-subtitle {
    font-size: 20px;
    font-weight: bold;
}

.logo-container {
    display: flex;
    justify-content: space-between;
}

.nav-item {
    font-size: 20px;
    font-weight: bold;
}

#lupa{
    color: white;
}


h2 {
    margin-top: 150px;
    font-size: 35px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.container{
}

.novo-cadastro{
    font-weight: bold;
}

#schedule-container{
    height: 40vh; /* originalmente é 60vh */
    overflow-y:scroll;
    background: rgba(255, 255, 255, 0.5);
}

#table-container{
    height: 40vh; /* originalmente é 60vh */
    overflow-y:scroll;
    overflow-x:scroll;
    background: rgba(255, 255, 255, 0.5);
}

td form{
    display: inline;
    margin-left: 30px;
}

th, td{
    text-align: center;
}

.agendamento{
    margin: 20px auto;
}

.agendamento p{
    font-size: 20px;
    margin: 0;
    font-weight: bold;
}

/* copyright */
.copy {
    font-weight: bold;
    font-size: 25px;
    margin:0;
    margin: 0 10px;
    color:white;
}

/* qualquer botãp */
.btn-geral{
    background-color: #AA0000;
    color: white;
}

.btn-geral:hover{
    transition: .3s;
    background-color: #7c0000;
    color: white;
}

.form-control, label{
    font-size: 20px;
}

label{
    margin-top: 20px;
}

input[type=submit]{
    font-size: 20px;
}

textarea{
    resize: none;
}

.schedule-title, .icon{
    font-weight: bold;
    color: #AA0000;
}

.msg{
    margin-top: 10px;
}

.link-msg, .add-icon{
    color: #AA0000;
    text-decoration: none;
}

.table{
    background: rgba(255, 255, 255, 0.5);
    font-weight: bold;
}

thead{
    background: #AA0000;
    color: white;
}

a{
    text-decoration: none;
}

.action-icon{
    font-size: 30px;
    margin-left:20px;
}

.modal-header, .btn-modal{
    background: #AA0000;
}

.modal-title, .btn-modal{
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.btn-modal:hover{
    background-color: #7c0000;
    transition: .5s;
}

.modal-body{
    background: rgba(255, 255, 255, 0.5);
    color: #AA0000;
    font-size: 20px;
    font-weight: bold;
    margin:0 auto;
    padding: 5px;
    list-style: none;
}

#initials{
    text-transform: uppercase !important;
}

@media(max-width:486px){

   
    .link-light{
        color:white;      
        margin-left: -30px;  
    }

    footer{
        margin-top: 150px;
    }

    #logo-title {
        font-size: 40px;
        font-weight: bold;
    }

    #logo-subtitle {
        font-size: 16px;
        font-weight: bold;
    }

    .dropdown-menu{
        margin: auto;
    }
}