* {
    font-family: 'Amatic SC', sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
/* 
body{
    background-image:linear-gradient(rgba(255, 255, 255, 0.788), rgba(255, 255, 255, 0.753)), url(../img/wallpaper.jpg);
    background-repeat: no-repeat;
	background-size: cover;
} */

nav {
    background-color: #AA0000;
}

.link-light{
    text-decoration: none;
    color:lightgrey;
    margin: 0 20px;
}

.link-light:hover{
    transition: .5s;
    color: white;
    justify-content: space-around;
}

#logo-img {
    width: 30px;
}

#title-subtitle-container {
    text-align: center;
    padding: 0 20px;
    margin: 0 auto;
}

#logo-title, #logo-subtitle, .nav-link {
    color: white;
}

#logo-title {
    font-size: 50px;
    font-weight: bold;
}

#logo-subtitle {
    font-size: 30px;
    font-weight: bold;
}

.logo-container {
    display: flex;
    justify-content: space-between;
}

.nav-item {
    font-size: 30px;
    font-weight: bold;
}

#page-title{
    justify-content: center;
    font-weight: bold;
}

.container{
    height: 67vh;
    overflow-y:scroll;
}

.agendamento{
    margin: 20px auto;
}

.agendamento p{
    font-size: 25px;
    margin: 0;
}

.copy {
    font-weight: bold;
    font-size: 25px;
    margin:0;
    margin: 0 10px ;
}